In [1]:
!conda install -yc conda-forge ipython-sql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\USER\Anaconda3

  added / updated specs:
    - ipython-sql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.5                |   py37hc8dfbb8_1         3.1 MB  conda-forge
    ipython-sql-0.3.9          |py37hc8dfbb8_1001          27 KB  conda-forge
    prettytable-0.7.2          |             py_3          15 KB  conda-forge
    python_abi-3.7             |          1_cp37m           4 KB  conda-forge
    sqlparse-0.3.1             |             py_0          30 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.1 MB

The following NEW packages will be INSTALLED:

  ipython-sql        conda-forge/win-64::ipython-sql-0.3.9-py37hc8dfbb8_1001
  prettytable        conda-forge/noarch::prettytable-0.7.2-py_3
  python_abi         conda-forge/win-64::python_abi-3.7-1_cp37m
  sqlparse           conda-forge/noarch::sqlparse-0.3.1-py_0

The following packages will be UPDATED:

  conda                      pkgs/main::conda-4.7.10-py37_0 --> conda-forge::conda-4.8.5-py37hc8dfbb8_1



Downloading and Extracting Packages

ipython-sql-0.3.9    | 27 KB     |            |   0%
ipython-sql-0.3.9    | 27 KB     | #####9     |  59%
ipython-sql-0.3.9    | 27 KB     | ########## | 100%

python_abi-3.7       | 4 KB      |            |   0%
python_abi-3.7       | 4 KB      | ########## | 100%

sqlparse-0.3.1       | 30 KB     |            |   0%
sqlparse-0.3.1       | 30 KB     | #####4     |  54%
sqlparse-0.3.1       | 30 KB     | ########## | 100%

prettytable-0.7.2    | 15 KB     |            |   0%
prettytable-0.7.2    | 15 KB     | ########## | 100%

conda-4.8.5          | 3.1 MB    |            |   0%
conda-4.8.5          | 3.1 MB    |            |   1%
conda-4.8.5          | 3.1 MB    | 2          |   2%
conda-4.8.5          | 3.1 MB    | 4          |   4%
conda-4.8.5          | 3.1 MB    | #1         |  11%
conda-4.8.5          | 3.1 MB    | ##1        |  21%
conda-4.8.5          | 3.1 MB    | ###5       |  35%
conda-4.8.5          | 3.1 MB    | ####2      |  43%
conda-4.8.5          | 3.1 MB    | #####7     |  57%
conda-4.8.5          | 3.1 MB    | ######8    |  69%
conda-4.8.5          | 3.1 MB    | #######9   |  79%
conda-4.8.5          | 3.1 MB    | #########7 |  97%
conda-4.8.5          | 3.1 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 4.7.10
  latest version: 4.8.5

Please update conda by running

    $ conda update -n base -c defaults conda

In [2]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

In [12]:
%%sql

SELECT *
FROM facts
LIMIT 2;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3)]

In [13]:
%%sql
SELECT *
    FROM sqlite_master
WHERE type='table';

 * sqlite:///factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)'),
 ('table', 'cities', 'cities', 2, 'CREATE TABLE cities (\n        id integer primary key,\n        name text,\n        population integer,\n        capital bool,\n        facts_id text,\n        foreign key(facts_id) references facts(id)\n    )')]

In [14]:
%%sql

SELECT *
FROM facts
LIMIT 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]